<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="wpfRegistarEntities" connectionString="metadata=res://*/RegistarModel.csdl|res://*/RegistarModel.ssdl|res://*/RegistarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7C48ELV;initial catalog=wpfRegistar;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="wpfRegistarData" connectionString="metadata=res://*/RegistarModel.csdl|res://*/RegistarModel.ssdl|res://*/RegistarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7C48ELV;initial catalog=wpfRegistar;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>